{% extends 'base.html' %}

{% load static %}

{% block content %}
<form action="" method="POST" class="ui form">
  <div class="ui centered grid">
        {% csrf_token %}  
        <div class="seven wide column">
          <h4 class="ui dividing teal header">Reset</h4>
          <div class="field">
            <label>Email</label>
            <div class="ui input left icon">
              <i class="mail icon"></i>
              {{form.email}}
            </div>
          </div>
          <button type="submit" class="ui teal button">Reset</button>
        </div>
        
  </div>
</form>

{% endblock content %}
