{% extends 'base.html' %}
{% load static %}

{% block content %}
<form action="" method="POST" class="ui form">
        <div class="ui centered grid" >
            <div class="eight wide column">
                <h4 class="ui dividing header" style="background-color: #0a3d62; color: white;">Create new password</h4>
                <div class="card-body  col-8 offset-2">
                    {% csrf_token %}
                    <div class="field">
                        <label>New Password</label>
                        <div class="ui input left icon">
                            <i class="lock icon"></i>
                            {{form.new_password1}}
                        </div>
                    </div>
                    <div class="field">
                        <label>Confirm Password</label>
                        <div class="ui input left icon">
                            <i class="lock icon"></i>
                            {{form.new_password2}}
                        </div>
                    </div>
                    <button type="submit" class="ui button" style="background-color: #0a3d62; color: white;">Create</button>
                </div>
            </div>
       
        </div>
</form>
<script>
         $('.ui.form').form({
    on: 'blur',
    fields: {
      empty: {
        identifier  : 'new_password1',
        rules: [{type   : 'empty',prompt : 'Please enter a value'}]
      },
      password: {
        identifier  : 'new_password2',
        rules: [{type   : 'empty',prompt : 'Please enter a value'}]
      }
    }
  })
;
</script>
{% endblock content %}