{% extends 'base.html' %}

{% load static %}

{% block password_change %}
<form class="ui form" method="POST">
    <div class="ui centered grid">
        <div class="seven wide column">
            <h4 class="ui dividing header" style="color: #0a3d62;">Change your password</h4>
                {% csrf_token %}
                <div class="field">
                    <label>Old Password</label>
                    <div class="ui input left icon">
                        <i class="lock icon"></i>
                        {{form.old_password}}
                    </div>
                </div>
                <div class="field">
                    <label>New Password</label>

                    <div class="ui input left icon">
                        <i class="lock icon"></i>
                        {{form.new_password1}}
                    </div>
                </div>
                <div class="field">
                    <label>Confirm Password</label>

                    <div class="ui input left icon">
                        <i class="lock icon"></i>
                        {{form.new_password2}}
                    </div>
                </div>
                <button type="submit" class="ui button" id="btn" style="background-color: #0a3d62; color: white;">Change</button>
        </div>
    </div>
</form>
<script>
     $('.ui.form').form({
    on: 'blur',
    fields: {
      password: {
        identifier  : 'old_password',
        rules: [{type   : 'empty',prompt : 'Please enter a value'}]
      },
      empty: {
        identifier  : 'new_password1',
        rules: [{type   : 'empty',prompt : 'Please enter a value'}]
      },
      password: {
        identifier  : 'new_password2',
        rules: [{type   : 'empty',prompt : 'Please enter a value'}]
      }
    }
  })
;

</script>

{% endblock password_change %}
