{% include 'css.html' %}
{% include "js.html" %}

<style media="screen">
  body > .grid{
    height:100%;
  }
  body{
    background-color:#f2f2f2;
  }
</style>


<div class="ui three column center aligned middle aligned grid">
  <div class="ui column">
    <h2 class="ui teal header">Create a new account as {{ user_type }}</h2>
    <form class="ui form"  method="post">
      {% csrf_token %}  
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            {{ form.email }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ form.username }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{form.password1}}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{form.password2}}
          </div>
        </div>
        
        <!-- {% if user_type == 'teacher' %}
        <div class="field">
          <div class="ui dropdown selection">
            <input type="hidden" name="gender">
            <div class="default text">
              <div class="ui left icon dropdown">
                <i class="briefcase icon"></i>
                your major
              </div>
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {% for major in form.teachermajors.field.queryset %}
              <div class="item" data-value="{{ major.name }}">{{ major.name }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %} -->
        
        <!-- {% if user_type == 'student' %}
        <div class="field">
          <select multiple="" name="interests" class="ui fluid normal dropdown">
            {% for interest in form.studentinterests.field.queryset %}
            <option value="{{ interest.name }}">{{ interest.name }}</option>
            {% endfor %}
          </select>
        </div>
        {% endif %}
           -->
          
        <button type="submit" class="ui teal button fluid" name="button">Sign up</button>
        <div class="ui horizontal divider">
          Or SIGN UP 
        </div>
        <div class="field" style="margin-top: 12px;">
          <a href="{% url 'social:begin' 'facebook' %}"><i class="big blue facebook icon"></i></a>
          <a href="{% url 'social:begin' 'github' %}"><i class="big black github icon"></i></a>
          <a href="{% url 'social:begin' 'google' %}"><i class="big red google icon"></i></a>
        </div>
      </div>
    
    </form>
    <div class="ui message"> Have account already ? <a href="{% url 'users:login' %}">Login</a></div>
    
    {% if form.errors %}
        <div class="ui red message">
            {% for e in form  %}
              {{e.errors}}
            {% endfor %}
            {{form.non_field_errors}}
        </div>
    {% endif %}
  </div>
</div>
<script>
  $('.ui.dropdown')
    .dropdown();
    $('.ui.form').form({
    on: 'blur',
    fields: {
      email: {
        identifier  : 'email',
        rules: [{type   : 'empty',prompt : 'Please enter a <b> {name} </b> value'}]
        },
      username: {
        identifier  : 'username',
        rules: [{type   : 'empty',prompt : 'Please select a <b> {name}</b> value'}]
      },
      password1: {
        identifier  : 'password1',
        rules: [{type   : 'empty',prompt : 'Please enter a <b> {name} </b> value'}]
      },
      password2: {
        identifier  : 'password2',
        rules: [{type   : 'empty',prompt : 'Please select a <b> Confim Password </b>  value'}]
      }
    }
  });

</script>

{% include "footer.html" %}