{% include 'css.html' %}
{% include "js.html" %}

<style media="screen">
  body > .grid{
    height:100%;
  }
  body{
    background-color:#f2f2f2;
  }
</style>

<div class="ui three column center aligned middle aligned grid">
  <div class="ui column">
    <h2 class="ui header" style="background-color: #0a3d62;">Create a new account</h2>
    <form class="ui form"  method="post">
      {% csrf_token %}  
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            {{ form.email }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ form.username }}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{form.password1}}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{form.password2}}
          </div>
        </div>
        <button type="submit" class="ui button fluid" name="button" style="background-color: #0a3d62;">Sign up</button>
        <div class="ui horizontal divider">
          Or SIGN UP 
        </div>
        <div class="field" style="margin-top: 12px;">
          <a href="{% url 'social:begin' 'facebook' %}"><i class="big blue facebook icon"></i></a>
          <a href="{% url 'social:begin' 'github' %}"><i class="big black github icon"></i></a>
          <a href="{% url 'social:begin' 'google' %}"><i class="big red google icon"></i></a>
        </div>
      </div>
    
    </form>
    <div class="ui message"> Have account already ? <a href="{% url 'users:login' %}">Login</a></div>
    
    {% if form.errors %}
        <div class="ui red message">
            {% for e in form  %}
              {{e.errors}}
            {% endfor %}
            {{form.non_field_errors}}
        </div>
    {% endif %}
  </div>
</div>
<script>
  $('.ui.dropdown')
    .dropdown();
    $('.ui.form').form({
    on: 'blur',
    fields: {
      email: {
        identifier  : 'email',
        rules: [{type   : 'empty',prompt : 'Please enter a <b> {name} </b> value'}]
        },
      username: {
        identifier  : 'username',
        rules: [{type   : 'empty',prompt : 'Please select a <b> {name}</b> value'}]
      },
      password1: {
        identifier  : 'password1',
        rules: [{type   : 'empty',prompt : 'Please enter a <b> {name} </b> value'}]
      },
      password2: {
        identifier  : 'password2',
        rules: [{type   : 'empty',prompt : 'Please select a <b> Confim Password </b>  value'}]
      }
    }
  });

</script>

{% include "footer.html" %}