html, body{
    height: 100%;
    margin: 0;
    background-color:#FAFAFA;

}

footer{
    line-height: 50px;
    padding: 0 20px;
    margin-bottom: -50px;
    display: flex;
    justify-content: center;

}
.ui.menu .item-icon:before{
    background-color: white;
}

.typing h4 {

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .25em solid #0a3d62; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #0a3d62; }
  }