{% extends 'base.html' %}
{% block home %}
<!-- <div class="ui middle aligned grid" style="height: 100%;">
    <div class="right floated four wide column " >
        <div class="ui center aligned middle aligned basic segment" >
            <a class="ui big button" href="{% url 'users:signup' %}" style="background-color: #0a3d62; color: white;">Sign up</a>
            <div class="ui horizontal divider">
                Or
              </div>
              <a class="ui big button" href="{% url 'users:login' %}" style="background-color: #0a3d62; color: white;">Login</a>
        </div> 
    </div>    
</div> -->

{% endblock home %}  

